<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Furnish</display-name>
<welcome-file-list>
	<welcome-file>/index_user.jsp</welcome-file>
</welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/softeem-view.tld</taglib-uri>
      <taglib-location>/WEB-INF/softeem-view.tld</taglib-location>
    </taglib>
  </jsp-config>
  <filter>
    <filter-name>DruidWebStatFilter</filter-name>
    <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
    <init-param>
      <param-name>exclusions</param-name>
      <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>DruidWebStatFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <servlet-class>com.softeem.common.servlet.ValidateCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <url-pattern>/validateCodeServlet.action</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
     <init-param> 
       <param-name>targetBeanName</param-name> 
       <param-value>shiroFilter</param-value> 
     </init-param> 
  </filter>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Log4JInitServlet</servlet-name>
    <servlet-class>com.softeem.servlet.Log4JInitServlet</servlet-class>
    <init-param>
      <param-name>log4j-properties-location</param-name>
      <param-value>/WEB-INF/classes/log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SingleServlet</display-name>
    <servlet-name>SingleServlet</servlet-name>
    <servlet-class>com.softeem.servlet.SingleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleServlet</servlet-name>
    <url-pattern>/single.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.softeem.servlet.CategoryServlet</servlet-class>
    <init-param>
      <param-name>page_size</param-name>
      <param-value>2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/category.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.softeem.servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/addCart.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.softeem.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToMenuIndex</display-name>
    <servlet-name>ToMenuIndex</servlet-name>
    <servlet-class>com.softeem.servlet.ToMenuIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToMenuIndex</servlet-name>
    <url-pattern>/toMenuIndex.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.softeem.servlet.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/menuServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserInfoServlet</display-name>
    <servlet-name>AddUserInfoServlet</servlet-name>
    <servlet-class>com.softeem.servlet.AddUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserInfoServlet</servlet-name>
    <url-pattern>/services/AddUserInfoServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelUserServlet</display-name>
    <servlet-name>DelUserServlet</servlet-name>
    <servlet-class>com.softeem.servlet.DelUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserServlet</servlet-name>
    <url-pattern>/services/DelUserServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryUserInfoByIDServlet</display-name>
    <servlet-name>QueryUserInfoByIDServlet</servlet-name>
    <servlet-class>com.softeem.servlet.QueryUserInfoByIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryUserInfoByIDServlet</servlet-name>
    <url-pattern>/services/QueryUserInfoByIDServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserInfoServlet</display-name>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <servlet-class>com.softeem.servlet.UpdateUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <url-pattern>/services/UpdateUserInfoServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomerInfoServlet</display-name>
    <servlet-name>AddCustomerInfoServlet</servlet-name>
    <servlet-class>com.softeem.servlet.AddCustomerInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerInfoServlet</servlet-name>
    <url-pattern>/services/AddCustomerInfoServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCustomerServlet</display-name>
    <servlet-name>DelCustomerServlet</servlet-name>
    <servlet-class>com.softeem.servlet.DelCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCustomerServlet</servlet-name>
    <url-pattern>/services/DelCustomerServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryCusInfoByIDServlet</display-name>
    <servlet-name>QueryCusInfoByIDServlet</servlet-name>
    <servlet-class>com.softeem.servlet.QueryCusInfoByIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryCusInfoByIDServlet</servlet-name>
    <url-pattern>/services/QueryCusInfoByIDServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCusInfoServlet</display-name>
    <servlet-name>UpdateCusInfoServlet</servlet-name>
    <servlet-class>com.softeem.servlet.UpdateCusInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCusInfoServlet</servlet-name>
    <url-pattern>/services/UpdateCusInfoServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelGoodsServlet</display-name>
    <servlet-name>DelGoodsServlet</servlet-name>
    <servlet-class>com.softeem.servlet.DelGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelGoodsServlet</servlet-name>
    <url-pattern>/services/DelGoodsServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGoodsInfoServlet</display-name>
    <servlet-name>AddGoodsInfoServlet</servlet-name>
    <servlet-class>com.softeem.servlet.AddGoodsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodsInfoServlet</servlet-name>
    <url-pattern>/services/AddGoodsInfoServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryGoodsByIDServlet</display-name>
    <servlet-name>QueryGoodsByIDServlet</servlet-name>
    <servlet-class>com.softeem.servlet.QueryGoodsByIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryGoodsByIDServlet</servlet-name>
    <url-pattern>/services/QueryGoodsByIDServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGoodsInfoServlet</display-name>
    <servlet-name>UpdateGoodsInfoServlet</servlet-name>
    <servlet-class>com.softeem.servlet.UpdateGoodsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGoodsInfoServlet</servlet-name>
    <url-pattern>/services/UpdateGoodsInfoServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishProductServlet</display-name>
    <servlet-name>PublishProductServlet</servlet-name>
    <servlet-class>com.softeem.servlet.PublishProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishProductServlet</servlet-name>
    <url-pattern>/services/PublishProductServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelYiyuanInfoServlet</display-name>
    <servlet-name>DelYiyuanInfoServlet</servlet-name>
    <servlet-class>com.softeem.servlet.DelYiyuanInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelYiyuanInfoServlet</servlet-name>
    <url-pattern>/services/DelYiyuanInfoServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppLoginServlet</display-name>
    <servlet-name>AppLoginServlet</servlet-name>
    <servlet-class>com.softeem.servlet.AppLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppLoginServlet</servlet-name>
    <url-pattern>/login/AppLoginServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAppIndexServlet</display-name>
    <servlet-name>QueryAppIndexServlet</servlet-name>
    <servlet-class>com.softeem.servlet.QueryAppIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAppIndexServlet</servlet-name>
    <url-pattern>/services/QueryAppIndexServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>IndexServlet</description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.softeem.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet.action</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description>FindUserPassServlet</description>
    <display-name>FindUserPassServlet</display-name>
    <servlet-name>FindUserPassServlet</servlet-name>
    <servlet-class>com.softeem.servlet.FindUserPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserPassServlet</servlet-name>
    <url-pattern>/FindUserPass.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>FindUserPassCheckLinkServlet</description>
    <display-name>FindUserPassCheckLinkServlet</display-name>
    <servlet-name>FindUserPassCheckLinkServlet</servlet-name>
    <servlet-class>com.softeem.servlet.FindUserPassCheckLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserPassCheckLinkServlet</servlet-name>
    <url-pattern>/checkLink.action</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description>QueryYiyuanInfoServlet</description>
    <display-name>QueryYiyuanInfoServlet</display-name>
    <servlet-name>QueryYiyuanInfoServlet</servlet-name>
    <servlet-class>com.softeem.servlet.QueryYiyuanInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryYiyuanInfoServlet</servlet-name>
    <url-pattern>/services/QueryYiyuanInfoServlet.action</url-pattern>
  </servlet-mapping>
   <servlet>
    <description>MofifyYiyuanInfoServlet</description>
    <display-name>MofifyYiyuanInfoServlet</display-name>
    <servlet-name>MofifyYiyuanInfoServlet</servlet-name>
    <servlet-class>com.softeem.servlet.MofifyYiyuanInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MofifyYiyuanInfoServlet</servlet-name>
    <url-pattern>/services/MofifyYiyuanInfoServlet.action</url-pattern>
  </servlet-mapping>
</web-app>